:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}


.countries {
  flex-direction: row;
  align-items: center;
}


.pagination li:hover {
  cursor: pointer;
  background-color: blue;
}


.inline p {
  display: inline;
}

.modal button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.key {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer div {
  display: flex;
  align-items: center;
  margin: 0% 5% 0% 5%;
}