:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.footer {
  background-color: blue;
  bottom: 0;
  text-align: left;
  background:
    linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
    linear-gradient(#4e4376, #2b5876);
  background-size: cover;
  border-bottom: .2em solid #fff;
}


.countries {
  flex-direction: row;
  align-items: center;
}


.pagination li {
  display: inline;
  padding: 10px 16px 10px 16px;
  margin: 25px;
  border: 3px;
  border-color: #242424;
  border-radius: 5px;
  background-color: #4e4376;
}

.pagination li:hover {
  cursor: pointer;
  background-color: blue;
}

.footer li {
  display: inline;
  padding: 50px;
}


.inline p {
  display: inline;
}

.modal button:hover {
  cursor: pointer;
}

a {
  color: #242424;
  text-decoration: none;
}



.key {
  font-weight: bold;
}