:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}
.header{
  background-color: green;
  text-align: left;
  background: 
  linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  linear-gradient(#4e4376, #2b5876);
background-size: cover;
border-bottom: .2em solid #fff;
}
.footer{
  background-color: blue;
  bottom: 0;
  text-align: left;
  background: 
  linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  linear-gradient(#4e4376, #2b5876);
background-size: cover;
border-bottom: .2em solid #fff;
}

.country h1{
  color: black;
}

.card{
  border: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px;
  border-radius: 5%;
  background-color: aliceblue;
  color: black;
  max-width: 350px;
  text-align: center;
}

.card img{
  width: 300px;
  height: 150px;
}

.props{
  color: red;
}

.countries{
  flex-direction: row;
  align-items: center;
}

.modal p{
  color: black;
}

.pagination li{
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 3px;
  border-color: #242424;
  background-color: #4e4376;
}



.pagination-container{
  display: inline;
}



