.button {
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px;
}

.card {
    border: 5px;
    margin: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px;
    border-radius: 20px;
    background-color: aliceblue;
    color: black;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    cursor: pointer;
}

.card img {
    width: 325px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
    padding: none;
    margin-left: none;
    margin-right: none;
}

.card p {
    margin: 0px;
    text-align: center;
}

.paginationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.paginationContainer div {
    max-width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 16px 10px 16px;
    margin: 2%;
    border: 3px;
    border-color: #242424;
    border-radius: 5px;
    background-color: #4e4376;
}

.modalBody2 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal {
    color: black;
}